{% extends "base.html" %}
{% block start %}
    
<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-lg">
    <div class="container-fluid " style="display: flex;
    justify-content: space-around; ">
      <a class="navbar-brand" href="#" style="font-size: 25px;">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav-underline navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report-type/">Report Type</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/frequency/">Frequency</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/time-frame/">Time Frame</a>
          </li>
        </ul>
      </div>

        <form class="d-flex" role="search">
          <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

<div class="container mt-3 shadow-lg">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sl No</th>
            <th scope="col">License plate</th>
            <th scope="col">Make</th>
            <th scope="col">VIN</th>
            <th scope="col">Model</th>
            <th scope="col">Type</th>
            <th scope="col">Date</th>
            <th scope="col">Miles Driven</th>
          </tr>
        </thead>
        <tbody>
          {% for data in dataSet %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.LicensePlate }}</td>
            <td>{{ data.Make }}</td>
            <td>{{ data.VIN }}</td>
            <td>{{ data.Model }}</td>
            <td>{{ data.Type }}</td>
            <td>{{ data.date_str }}</td>
            <td>{{ data.MilesDriven }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
{% endblock %}
